body {
  justify-content: center;
  align-items: center;
  margin: 1em 2em;
  background-color: #fff;
}

.notes {
  background: #888;
}

.kc-container {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto 30px;
  grid-gap: 4px;
  block-size: 95vh;
}

.kc-elemlist {
  grid-column: 1;
  grid-row: 1;
  background: #eee;
}

.kc-console {
  grid-column: 1/3;
  grid-row: 2;
  /* block-size: 30px; */
  align-self: end;
  border: solid 1px #000;
}
.kc-inspector {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  column-gap: 4px;
}
.kc-inspector label {
  padding-block: 6px;
  font-weight: bold;
}
.kc-inspector input {
  inline-size: 4em;
}
#kcins-class,
#kcins-imgpath {
  inline-size: fit-content;
}
#kcins-text {
  inline-size: 100%;
}
.kc-console-row {
  display: flex;
  inline-size: 100%;
}

.kc-toolbox {
  display: flex;
}
button {
  border: solid 1px #fff;
}

input:disabled {
  background: #eee;
}
